@model Vehicle.Common.ViewModels.VehicleMakeViewModel

<h2>Create Vehicle Make</h2>

<form asp-action="Create" method="post">
@Html.AntiForgeryToken()

    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Abrv" class="control-label"></label>
        <input asp-for="Abrv" class="form-control" />
        <span asp-validation-for="Abrv" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>

<a asp-action="Index">Back to List</a>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
